/* Card CSS file */
.card{
position:relative;
align-items: center;
justify-content: cover;
font-size: 14px;
height:300px;
width:500px;
border-radius:4px;
box-shadow:rgba(0, 0, 0, 1) 0px 0px 15px 1px;
margin: 20px;
}

.card-image img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-info{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height:100px;
  padding: 20px;
}
